.default {
    @apply inline-block select-none cursor-pointer;
}

.shaking {
    animation: shake 0.2s;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(0eg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.falling {
    animation: falling 1s forwards;
}

@keyframes falling {
    0% {
        transform: translateY(0%);
    }

    5% {
        transform: rotate(5deg);
    }

    100% {
        transform: translateY(105vh) translateX(-100%) rotate(15deg);
    }
}
